/*-- stylesheet for is-wp --*/

a:link a:visited a:hover a:active {
    text-decoration: none;
}

.stripe1 {
  background: #caebf1;
  height: 35px;
}

.stripe2 {
  background: #7ACEDC;
  height: 10px;
}

.section-container {
  padding: 30px 0;
}

/*-- Hidden menu --*/

#unicorn {
  margin: -10px -10px 10px -10px;
  background: #caebf1;
  padding: 20px 130px;
  font-family: 'Open Sans', sans-serif;
  color:#fff;
  font-size: 20px;
}

.accessibly-hidden {
position: absolute;
left: -999em;
position: fixed;
}


/*-- hover point --*/
.bubble-top {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top;
  transition-property: top;
  left: calc(20% - 10px);
  top: 0;
  border-width: 116px 35px 33px 35px;
  border-color: transparent transparent #caebf1 transparent;
}
.bubble-top:hover:before, .bubble-top:focus:before, .bubble-top:active:before {
  top: -35px;
}

.bubble-bottom {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: bottom;
  transition-property: bottom;
  left: calc(20% - 10px);
  bottom: 0;
  border-width: 35px 35px 127px 35px;
  border-color: #caebf1 transparent transparent transparent;
}

.bubble-bottom:hover:before, .bubble-bottom:focus:before, .bubble-bottom:active:before {
  bottom: -35px;
}

/*-- nav icons --*/
.menu-icons {
  float: right;
  padding-top: 30px;
  font-size: 20px
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon-sing .fa-circle{
  color: #7ACEDC;
}

.menu-icon-text {
  font-family: 'Open Sans', sans-serif;
  color:#7ACEDC;
  font-size: 15px;
}

.menu-icon-sing:hover .fa-circle{
  color: #f8b28f;
}

.menu-icon-sing:hover .menu-icon-text{
  color: #f47f45;
}

/*-- Logo brand --*/

.site-brand {
  margin: 10px;
  cursor: pointer;
}

.site-brand:hover .polygons{
 -webkit-transform: scale(1.03) translate(-2px, -2px);
 -moz-transform:    scale(1.03) translate(-2px, -2px);
 -ms-transform:     scale(1.03) translate(-2px, -2px);
  transform:        scale(1.03) translate(-2px, -2px);
}


/*-- hero --*/

.hero {
  background-image: url('images/inspiration.jpg');
  background-size: cover;
  height: 350px;
  background-repeat: no-repeat;
 }

.hero-title {
  padding-top: 15px;
}

.hero h1 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: #7acedc;
  line-height: 0.5;
}

.hero h2 {
  font-family: 'Poller One', cursive;
  font-size: 40px;
  color: #f47f45;
}

.hero p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #1a1a1a;
}


/*-- Typography --*/

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1a1a1a;
}

.lobster {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #1a1a1a;
  line-height:0;
}

.poller {
  font-family: 'Poller One', cursive;
  font-size: 30px;
  color: #1a1a1a;
  line-height: 1;

}

.open {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #1a1a1a;
  text-align: center;
}

.chapter {
  background: #caebf1;
  font-family: 'Poller One', cursive;
  font-size: 35px;
  color: #fff;
}


/*-- intro --*/

.intro-container {
  background-color: #caebf1;
  padding: 40px 20px;
}

.intro {
  background-color: #fff;
  padding: 40px;
}

.intro p {
  font-size: 15px;
  padding: 0 20px;
}

.movie {
  background-color: #c7c7c7;
  height: 400px;
}

/*-- section - colour --*/

.hex {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: transparent;
}

.turqouise:hover .hex {
  color: #1a1a1a;
}

.orange:hover .hex {
  color: #1a1a1a;
}

.yellow:hover .hex {
  color: #1a1a1a;
}

.purple:hover .hex {
  color: #1a1a1a;
}

/*-- turqouise --*/

.turqouise {
  padding: 20px;
}

.turqouise .darker {
  background-color: #5c9ba5;
  height: 100px;
}

.turqouise .darkest {
  background-color: #3d676e;
  height: 100px;
}

.turqouise .major {
  background-color: #7acedc;
  height: 200px;
}

.turqouise .lighter {
  background-color: #95d8e3;
  height: 100px;
}

.turqouise .lightest {
  background-color: #caebf1;
  height: 100px;
}

/*-- orange --*/

.orange {
  padding: 20px;
}

.orange .darker {
  background-color: #b75f34;
  height: 100px;
}

.orange .darkest {
  background-color: #7a4023;
  height: 100px;
}

.orange .major {
  background-color: #f47f45;
  height: 200px;
}

.orange .lighter {
  background-color: #f8b28f;
  height: 100px;
}

.orange .lightest {
  background-color: #fbccb5;
  height: 100px;
}

/*-- yellow --*/

.yellow {
  padding: 20px;
}

.yellow .darker {
  background-color: #bfa243;
  height: 60px;
}

.yellow .darkest {
  background-color: #806c2d;
  height: 60px;
}

.yellow .major {
  background-color: #ffd859;
  height: 120px;
}

.yellow .lighter {
  background-color: #ffe384;
  height: 60px;
}

.yellow .lightest {
  background-color: #fff1bc;
  height: 60px;
}

/*-- purple --*/

.purple {
  padding: 20px;
}

.purple .darker {
  background-color: #7a779b;
  height: 60px;
}

.purple .darkest {
  background-color: #525067;
  height: 60px;
}

.purple .major {
  background-color: #a39fce;
  height: 120px;
}

.purple .lighter {
  background-color: #c8c5e3;
  height: 60px;
}

.purple .lightest {
  background-color: #dedcee;
  height: 60px;
}


/*-- section - typography --*/

.typography-style .head1 {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: #1a1a1a;
 
}

.typography-style .head2 {
  font-family: 'Poller One', cursive;
  font-size: 50px;
  color: #1a1a1a;
  
}

.typography-style .body {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #1a1a1a;
  
}

.typography-style p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1a1a1a;  
}

.indent {
  padding-left: 30px;
}


/*-- section - logo --*/

.spacing {
  
  padding: 20px 0;
}

.wrong {
  max-width: 700px;
  padding: 20px 0;
}


/*-- shapes --*/

.shapes {
  
  margin: 40px 0;
}

.icon {
  margin: 10px 10px 40px 10px;
  max-width: 300px;

}


.polygons{
  transition: 0.5s;
}


/*-- Icon 1 - talk --*/

.talk:hover .polygons{
 -webkit-transform: scale(1.068) translate(-20px, -23px);
 -moz-transform:    scale(1.068) translate(-20px, -23px);
 -ms-transform:     scale(1.068) translate(-20px, -23px);
  transform:        scale(1.068) translate(-20px, -23px);
}

.talk-1 { -webkit-transition: fill .3s ease;
    -moz-transition: fill .3s ease;
    -o-transition: fill .3s ease;
    transition: fill .3s ease;   
    fill:#1A1A1A; }
.talk:hover .talk-1 { fill: #FFF; }

.talk-2 { -webkit-transition: fill 1s ease;
    -moz-transition: fill 1s ease;
    -o-transition: fill 1s ease;
    transition: fill 1s ease;  
    fill:#1A1A1A; }
.talk:hover .talk-2 { fill: #FFF; }

.talk-3 { -webkit-transition: fill 1.7s ease;
    -moz-transition: fill 1.7s ease;
    -o-transition: fill 1.7s ease;
    transition: fill 1.7s ease;  
    fill:#1A1A1A; }
.talk:hover .talk-3 { fill: #FFF; }

/*-- Icon 2 - connect --*/

.connect:hover .polygons{
 -webkit-transform: scale(1.068) translate(-20px, -23px);
 -moz-transform:    scale(1.068) translate(-20px, -23px);
 -ms-transform:     scale(1.068) translate(-20px, -23px);
  transform:        scale(1.068) translate(-20px, -23px);
}

.heart-cover { -webkit-transition: fill .3s ease;
    -moz-transition: fill .3s ease;
    -o-transition: fill .3s ease;
    transition: fill .3s ease;   
    fill:#fff; }
.connect:hover .heart-cover { fill: transparent; }

/*-- Icon 3 - attend --*/

.attend:hover .polygons{
 -webkit-transform: scale(1.068) translate(-20px, -23px);
 -moz-transform:    scale(1.068) translate(-20px, -23px);
 -ms-transform:     scale(1.068) translate(-20px, -23px);
  transform:        scale(1.068) translate(-20px, -23px);
}

.day-1 { -webkit-transition: fill .3s ease;
    -moz-transition: fill .3s ease;
    -o-transition: fill .3s ease;
    transition: fill .3s ease;   
    fill:#1A1A1A; }
.attend:hover .day-1 { fill: #aeadad; }

.day-2 { -webkit-transition: fill 1s ease;
    -moz-transition: fill 1s ease;
    -o-transition: fill 1s ease;
    transition: fill 1s ease;  
    fill:#1A1A1A; }
.attend:hover .day-2 { fill: #aeadad; }

.day-3 { -webkit-transition: fill 1.7s ease;
    -moz-transition: fill 1.7s ease;
    -o-transition: fill 1.7s ease;
    transition: fill 1.7s ease;  
    fill:#1A1A1A; }
.attend:hover .day-3 { fill: #aeadad; }

.day-4 { -webkit-transition: fill 1.7s ease;
    -moz-transition: fill 1.7s ease;
    -o-transition: fill 1.7s ease;
    transition: fill 1.7s ease;  
    fill:#1A1A1A; }
.attend:hover .day-4 { fill: #aeadad; }

.day-5 { -webkit-transition: fill 1.7s ease;
    -moz-transition: fill 1.7s ease;
    -o-transition: fill 1.7s ease;
    transition: fill 1.7s ease;  
    fill:#1A1A1A; }
.attend:hover .day-5 { fill: #aeadad; }

.tick { -webkit-transition: fill .7s ease;
    -moz-transition: fill .7s ease;
    -o-transition: fill .7s ease;
    transition: fill .7s ease;   
    fill:#1A1A1A; }
.attend:hover .tick { fill: #7acedc; }

/*-- Icon 5 - blog --*/

.read:hover .polygons{
 -webkit-transform: scale(1.068) translate(-20px, -23px);
 -moz-transform:    scale(1.068) translate(-20px, -23px);
 -ms-transform:     scale(1.068) translate(-20px, -23px);
  transform:        scale(1.068) translate(-20px, -23px);
}

.write1 { -webkit-transition: fill .3s ease;
    -moz-transition: fill .3s ease;
    -o-transition: fill .3s ease;
    transition: fill .3s ease;   
    fill:#FFF; }
.read:hover .write1 { fill: #1A1A1A; }

.write2 { -webkit-transition: fill .6s ease;
    -moz-transition: fill .6s ease;
    -o-transition: fill .6s ease;
    transition: fill .6s ease;   
    fill:#FFF; }
.read:hover .write2 { fill: #1A1A1A; }

.write3 { -webkit-transition: fill .9s ease;
    -moz-transition: fill .9s ease;
    -o-transition: fill .9s ease;
    transition: fill .9s ease;   
    fill:#FFF; }
.read:hover .write3 { fill: #1A1A1A; }

.write4 { -webkit-transition: fill 1.2s ease;
    -moz-transition: fill 1.2s ease;
    -o-transition: fill 1.2s ease;
    transition: fill 1.2s ease;  
    fill:#FFF; }
.read:hover .write4 { fill: #1A1A1A; }

/*-- footer --*/

.foot {
  background-color: #7ACEDC;
  padding: 20px;
}

.foot .author {
   color: #fff;
   font-size: 15px;
}

/*-- Clearfix --*/

.clearfix {
  &:after {
  content:".";
  display:block;
  height: 0;
  clear:both;
  visibility:hidden;
  }
}
