<!-- FOOTER -->
<footer class="footer">
<section class="footer-cta">
    <div class="container">
        <h2>Ready to transform your space?</h2>
        <a href="contact.html" class="btn btn-primary btn-xl text-uppercase">Get in touch</a>
    </div>
</section>
<section class="footer-contacts">
<div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">
                <img src="assets/img/logomark_initials.svg" alt="Off The Wall Murals logomark">
            </div>
            <div class="col-lg-4 text-lg-start">

            </div>
            <div class="col-lg-4 text-lg-start footer-contacts-details">
                <h3>CONTACT MEL</h3>
                <p><a href="mailto:hello@offthewallmurals.nz"><i class="fas fa-solid fa-envelope"></i>hello@offthewallmurals.nz</a></p>
                <p><a href="tel:+64211927774"><i class="fas fa-solid fa-phone"></i>021 192 7774</a></p>
                <p>Follow @offthewall.muralsnz</p>
                <div class="footer-social"><a href="https://www.instagram.com/offthewall.murals.nz"><i class="fab fa-instagram"></i></a><a href="https://www.facebook.com/offthewall.murals.nz"><i class="fab fa-facebook"></i></a><a href="https://www.linkedin.com/company/offthewall-muralsnz"><i class="fab fa-linkedin"></i></a></div>

            </div>
        </div>
    </div>
</section>
<section class="footer-copyright">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-lg-start">
                <small>&copy; Off The Wall Murals 2026</small>
            </div>

            <div class="col-lg-6 text-lg-end">
                <span class="designer"><a href="https://meleaton.design" target="_blank">meleaton.design</a></span>
            </div>
        </div>
    </div>
</section>
</footer>
