/*----- contact form -----*/

.contact {
    margin-top: 40px;
	font-family: 'Source Sans Pro', sans-serif;
    border: 70px solid transparent;
    background: url(../../img/background/fill.jpg);
    -webkit-border-image: url(../../img/background/border.jpg) 80 round; /* Safari 3.1-5 */
    -o-border-image: url(../../img/background/border.jpg) 80 round; /* Opera 11-12.1 */
    border-image: url(../../img/background/border.jpg) 80 round;
    }

.message h2{
    display: inline-block;

}

.message span {
    font-size: 25px;
    padding-left: 15px;
    position: relative;
    bottom: 5px;

}

.social {
    padding: 20px 0;
    text-align: center;

    .fa-stack {
        padding: 0 30px;

    }
}