/*----- page structure -----*/

body {
	background-image: url('../../img/background/paper.png');
}

#about {
	background-image: url('../../img/background/lined-paper.png');
}

footer {
	height: 100px;
	background: url('../../img/background/card.jpg');
	background-repeat: repeat-x;

}

.cv {
	float: right;
	position: relative;
	bottom: 80px;
	right: 20px;
}
