.icons {
	width: 20px;
	float: right;
	
}

.invisible {
	opacity: 0;
}

.icons-main {
	width: 30px;
	float: right;
	
}

.nav-container {
	position: fixed;
}

.md-content-inner {
	
}

#y {
	width: 80%;
	margin: 0 auto;
	display: block;
}

.menu-fa {
	vertical-align: baseline;
	margin: 10px 0 0 20px;

}

.footer-button {
	margin: 15px 0;
}

.scroll {
	overflow: scroll;
}

.request {
	color: #7d81be;
	font-size: 45px;
	line-height: 0;
}

.request-sm {
	color: #1a1a1a;
	font-size: 22px;
	line-height: 0;
	text-decoration: underline;
}

.view {
	color: #49bed7;
	font-size: 83px;
	line-height: 0.5;
	position: relative;
	top: 8px;
}

.view-sm {
	color: #1a1a1a;
	font-size: 30px;
	line-height: 0;
	text-decoration: underline;
}

.call {
	color: #8ec043;
	font-size: 82px;
	line-height: 0.5;
	position: relative;
	top: 8px;
}

.call-sm {
	color: #1a1a1a;
	font-size: 32px;
	line-height: 0;
	text-decoration: underline;
}

.call-xsm {
	color: #1a1a1a;
	font-size: 14px;
	line-height: 0;
}

.share {
	color: #f59d33;
	font-size: 62px;
	line-height: 0.5;
}

.modal-text {
	text-align: center;
	padding-top: 20px;
}

.close {
	margin: 10px 0;
}