/*----- cast -----*/


/*-- typography --*/

.car-name {
	font-family: 'Devonshire', cursive;
	color: #353535;
	font-size: 30px;
	text-decoration: none;
}

.actor-name {
	font-family: 'Raleway', sans-serif;
	color: #353535;
	font-size: 20px;
	text-decoration: none;
	line-height: 0;
}

/*-- images --*/

.JPJeunet {
	width: 100%;
	padding: 30px 20px 0 0;
}

.MFolco {
	width: 100%;
	padding: 30px 0 0 20px;
}

.Folco {
	float: right;
	width: 60%;
}

/*-- slider --*/

.well {
	width: 80%;
}

.cast {
	background-image: url("../images/backgrounds/velvet.jpg");
	height: 40px;
}

.carousel {
	padding: 20px;	
}

.slideshow {
    background-image: url("../images/backgrounds/paper.png");
}


/*-- slider images --*/

.amelie, 
.nino, 
.raphael, 
.amandine,
.lucien,
.collignon,
.raymond,
.flora,
.dominique,
.madeline,
.joseph,
.georgette,
.suzanne,
.gina,
.hipolito,
.voisin {
	opacity: 1;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out; 
	transition: opacity 0.4s ease-in-out;
}

.amelie:hover, 
.nino:hover, 
.raphael:hover, 
.amandine:hover,
.lucien:hover,
.collignon:hover,
.raymond:hover,
.flora:hover,
.dominique:hover,
.madeline:hover,
.joseph:hover,
.georgette:hover,
.suzanne:hover,
.gina:hover,
.hipolito:hover,
.voisin:hover {
    opacity: 0; 
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out; 
	transition: opacity 0.4s ease-in-out;
}

.amelie-back {
    background: url('../images/cast/14.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.nino-back {
    background: url('../images/cast/16.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.raphael-back {
    background: url('../images/cast/7.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.amandine-back {
    background: url('../images/cast/10.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.lucien-back {
    background: url('../images/cast/9.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.collignon-back {
    background: url('../images/cast/5.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.raymond-back {
    background: url('../images/cast/4.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.flora-back {
    background: url('../images/cast/11.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.dominique-back {
    background: url('../images/cast/1.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.madeline-back {
    background: url('../images/cast/8.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.joseph-back {
    background: url('../images/cast/15.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.georgette-back {
    background: url('../images/cast/12.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.suzanne-back {
    background: url('../images/cast/2.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.gina-back {
    background: url('../images/cast/3.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.hipolito-back {
    background: url('../images/cast/6.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}

.voisin-back {
    background: url('../images/cast/13.jpg');
    background-size: cover;
    width: 98%;
    max-width: 240px;
    max-height: 310px;
}
