/*----- footer -----*/

.stripe {
	background-color: #084228;
	height: 30px;
}

footer {
	background-image: url("../images/backgrounds/background.jpg");
	margin: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	color: #f7eddd;

}

.footer {
	padding: 20px 0;
}
.mel {
	height: 50px;
	float: right;
}

.mirimax {
	width: 100%;
	float: right;
}
