/*---- index ----*/

.main-index {
	background: #f7eddd;
	padding: 30px 0;
}
/*-- typography --*/

.synop {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #353535;
	padding: 0 15px 0 15px;
}

.block {
	padding: 0 0 0 15px;	
}

blockquote {
	margin-top: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: #353535;
	border-left: solid 6px #a04e33;
}

.quote {
	position: relative;
	bottom: 5px;
}

.cite-name {
	font-family: 'Devonshire', cursive;
	font-size: 40px;
	color: #A04E33;
	text-align: right;
	line-height: 0;
	padding-right: 10px;
}

.cite-source {
	font-family: 'Six Caps', sans-serif;
	font-size: 40px;
	color: #353535;
	text-align: right;
	line-height: 1;
	padding-right: 10px;
}

/*-- images --*/
.awards {
	padding: 10px 0 20px 0;
}
.laurels {
	width: 100%;
}

.poster {
	width: 100%;
	margin: 0 auto;
	padding: 10px 10px 20px 10px;
}