/*----- Links -----*/

a, a:link, a:visited, a:hover, a:active {
    outline: none;
    text-decoration: none;
}

a, a:visited {
	color: #f7eddd;
}

a:hover {
	color: #bba047;
	text-decoration: none;
	background-color: transparent;
}