/*
Title: Portfolio Stylesheet
Author: Mel Schade
*/
/*----- page structure -----*/
/* line 3, ../sass/_pagestructure.scss */
body {
  background-image: url("../../img/background/paper.png");
}

/* line 7, ../sass/_pagestructure.scss */
#about {
  background-image: url("../../img/background/lined-paper.png");
}

/* line 11, ../sass/_pagestructure.scss */
footer {
  height: 100px;
  background: url("../../img/background/card.jpg");
  background-repeat: repeat-x;
}

/* line 18, ../sass/_pagestructure.scss */
.cv {
  float: right;
  position: relative;
  bottom: 80px;
  right: 20px;
}

/*----- typography -----*/
/* line 3, ../sass/_typography.scss */
h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  font-size: 60px;
  color: #797979;
  line-height: 0.3;
}

/* line 11, ../sass/_typography.scss */
h2 {
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  font-size: 40px;
  padding-left: 10px;
}

/* line 18, ../sass/_typography.scss */
h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  font-size: 40px;
}

/* line 24, ../sass/_typography.scss */
h4 {
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  font-size: 25px;
  color: #797979;
}

/* line 31, ../sass/_typography.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

/* line 37, ../sass/_typography.scss */
p {
  font-size: 18px;
}

/* line 41, ../sass/_typography.scss */
.indent {
  padding-left: 20px;
}

/* line 46, ../sass/_typography.scss */
.work {
  margin-left: 20px;
}

/*-- portfolio --*/
/* line 52, ../sass/_typography.scss */
.projector-cta {
  font-size: 25px;
  letter-spacing: 3px;
}

/*-- skills --*/
/* line 59, ../sass/_typography.scss */
.skills-blurb {
  padding: 30px 0;
}

/* line 63, ../sass/_typography.scss */
.skills {
  font-size: 18px;
}

/* line 67, ../sass/_typography.scss */
.skill-bold {
  font-size: 20px;
  font-weight: bold;
  width: 100px;
}

/* line 73, ../sass/_typography.scss */
.skills-text {
  width: 300px;
  display: inline-block;
}

/*-- about --*/
/* line 80, ../sass/_typography.scss */
.me-points {
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

/*----- navigation -----*/
/* line 2, ../sass/_navigation.scss */
a, a:link, a:visited, a:hover, a:active {
  outline: none;
  text-decoration: none;
}

/* line 7, ../sass/_navigation.scss */
.navbar-toggle {
  border: none;
  padding: 0 5px;
}

/* line 12, ../sass/_navigation.scss */
nav .navbar-nav {
  float: right;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  color: #1a1a1a;
}

/* line 19, ../sass/_navigation.scss */
.navbar ul {
  margin-top: 0;
}

/* line 23, ../sass/_navigation.scss */
nav .navbar-nav li {
  background: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 31, ../sass/_navigation.scss */
nav .navbar-nav li:hover {
  background: #e4e4e4;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 39, ../sass/_navigation.scss */
.navbar {
  background: rgba(250, 250, 250, 0.9);
  border: none;
}

/* line 44, ../sass/_navigation.scss */
.logo {
  height: 30px;
  position: relative;
  bottom: 8px;
}

/* line 50, ../sass/_navigation.scss */
.mini-schade {
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 0;
  margin-left: 5px;
  position: relative;
  top: 1px;
  color: #797979;
  font-family: 'Amatic SC', cursive;
}

/*----- images -----*/
/*-- portfolio section --*/
/* line 5, ../sass/_images.scss */
.lightbox {
  list-style: none;
}

/* line 9, ../sass/_images.scss */
.slide-container {
  float: left;
  max-width: 30%;
  min-width: 300px;
}

/* line 15, ../sass/_images.scss */
.slide-container {
  float: left;
  max-width: 33.33%;
  min-width: 300px;
  opacity: 1;
  color: transparent;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* line 26, ../sass/_images.scss */
.slide-container:hover {
  opacity: .5;
  color: #000;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* line 34, ../sass/_images.scss */
.slide-img {
  max-width: 100%;
}

/* line 38, ../sass/_images.scss */
.slide-text {
  font-family: 'Amatic SC', cursive;
  text-decoration: none;
  font-size: 40px;
  display: block;
  position: relative;
  bottom: 10px;
  text-align: center;
}

/*-- skills section --*/
/* line 50, ../sass/_images.scss */
.computer {
  width: 90%;
  position: relative;
  right: 15px;
}

/* line 56, ../sass/_images.scss */
.mobile {
  float: right;
  width: 90%;
  position: relative;
  left: 15px;
}

/* line 63, ../sass/_images.scss */
.skill-icon {
  padding-top: 30px;
}

/*-- about section --*/
/* line 69, ../sass/_images.scss */
.ven {
  margin-top: 30px;
  height: 300px;
  opacity: 0.8;
  padding-top: 20px;
}

/* line 76, ../sass/_images.scss */
.portrait {
  margin: 0 auto;
  position: relative;
  bottom: 30px;
}

@media (min-width: 971px) {
  /* line 83, ../sass/_images.scss */
  .ven {
    float: right;
    position: relative;
    left: 80px;
  }
}
/*----- misc -----*/
/* line 3, ../sass/_reset.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*----- variables -----*/
@media (min-width: 767px) {
  /* line 5, ../sass/_variables.scss */
  .navbar {
    padding: 15px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  /* line 12, ../sass/_variables.scss */
  .logo {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }

  /* line 19, ../sass/_variables.scss */
  .mini-schade {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }

  /* line 26, ../sass/_variables.scss */
  .top-nav-collapse {
    padding: 0;
  }
  /* line 29, ../sass/_variables.scss */
  .top-nav-collapse .logo {
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }
  /* line 36, ../sass/_variables.scss */
  .top-nav-collapse .mini-schade {
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }
}
@media (max-width: 766px) {
  /* line 46, ../sass/_variables.scss */
  nav .navbar-nav {
    float: none;
    text-align: center;
    font-size: 40px;
  }

  /* line 52, ../sass/_variables.scss */
  #intro {
    padding-top: 45px;
  }

  /* line 56, ../sass/_variables.scss */
  .hero-name {
    margin: 0 auto;
  }
}
/*----- hero -----*/
/* line 3, ../sass/_hero.scss */
.hero-name {
  margin-bottom: 50px;
  max-width: 250px;
}

/* line 8, ../sass/_hero.scss */
.mel {
  position: relative;
  top: 30px;
}

/* line 14, ../sass/_hero.scss */
.schade {
  font-size: 90px;
  letter-spacing: 5px;
  margin-left: 45px;
  margin-top: 25px;
  line-height: 1;
}

/* line 22, ../sass/_hero.scss */
.invisible {
  display: none;
}

/* line 26, ../sass/_hero.scss */
.pencil {
  width: 85%;
  margin: 0 auto;
  position: relative;
  padding: 10px 0 0 0;
  z-index: -10;
}

/* line 34, ../sass/_hero.scss */
.pencil-small {
  position: relative;
  left: 10%;
  overflow: hidden;
}

/* line 40, ../sass/_hero.scss */
.summary li {
  float: left;
  list-style: none;
  font-size: 20px;
  color: #797979;
  letter-spacing: 2px;
}

/* line 48, ../sass/_hero.scss */
.bar {
  padding: 0 30px;
}

/* line 52, ../sass/_hero.scss */
.gap {
  padding-right: 5px;
}

/* line 56, ../sass/_hero.scss */
hr {
  margin: 30px 0;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.75), rgba(128, 128, 128, 0));
  background-image: -moz-linear-gradient(left, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.75), rgba(128, 128, 128, 0));
  background-image: -ms-linear-gradient(left, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.75), rgba(128, 128, 128, 0));
  background-image: -o-linear-gradient(left, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.75), rgba(128, 128, 128, 0));
}

/* line 66, ../sass/_hero.scss */
.tagline {
  float: right;
  font-size: 45px;
  margin-right: 10px;
  color: #797979;
  position: relative;
  bottom: 35px;
}

@media (max-width: 470px) {
  /* line 76, ../sass/_hero.scss */
  .pencil-small {
    left: 12%;
  }
}
/*----- contact form -----*/
/* line 3, ../sass/_contact-form.scss */
.contact {
  margin-top: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 70px solid transparent;
  background: url(../../img/background/fill.jpg);
  -webkit-border-image: url(../../img/background/border.jpg) 80 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../../img/background/border.jpg) 80 round;
  /* Opera 11-12.1 */
  border-image: url(../../img/background/border.jpg) 80 round;
}

/* line 13, ../sass/_contact-form.scss */
.message h2 {
  display: inline-block;
}

/* line 18, ../sass/_contact-form.scss */
.message span {
  font-size: 25px;
  padding-left: 15px;
  position: relative;
  bottom: 5px;
}

/* line 26, ../sass/_contact-form.scss */
.social {
  padding: 20px 0;
  text-align: center;
}
/* line 30, ../sass/_contact-form.scss */
.social .fa-stack {
  padding: 0 30px;
}

/*-- Custom CSS for projector simulation --*/
/* line 3, ../sass/_projector.scss */
.slider-container {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 800px;
}
/* line 8, ../sass/_projector.scss */
.slider-container h3 {
  color: #fff;
}
/* line 12, ../sass/_projector.scss */
.slider-container .info {
  width: 80%;
  margin: 0 auto;
}

/* line 18, ../sass/_projector.scss */
.projector-slide-img {
  width: 800px;
  margin: 0 auto;
}

/*--- sliding shutter ---*/
/* line 24, ../sass/_projector.scss */
.box {
  width: 0px;
  height: 900px;
  background-color: #1a1a1a;
  position: fixed;
  z-index: 999;
}

/*--- modal close button ---*/
/* line 34, ../sass/_projector.scss */
.custom-close {
  float: right;
}
